
.item-detail-container {
    border: 1px solid rgb(16, 6, 17);
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
 
  .name {
    color: #333;
  }
  
  
  .price {
    color: #840096;
  }
  
  
  .id {
    font-style: italic;
    color: #777;
  }
  
  
  .item-image {
    max-width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  