/* ItemDetail.css */

/* Estilos para el contenedor principal del componente */
.item-detail-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  /* Estilos para el encabezado del nombre */
  .name {
    color: #333;
  }
  
  /* Estilos para el precio */
  .price {
    color: #840096;
  }
  
  /* Estilos para el párrafo del ID */
  .id {
    font-style: italic;
    color: #777;
  }
  
  /* Estilos para la imagen */
  .item-image {
    max-width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  